.cart {
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.items {
  width: 100%;
}

.order {
  border: 1px solid grey;
  width: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;

  button {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
  }
}

.subtotalWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px 0 20px 0;
}

.shippingWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px 0 20px 0;
}

.totalWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px 0 20px 0;
  font-weight: bold;
}

.cart {
  h1 {
    font-size: 22px;
  }
}
